page-home {}

.list-avatar-page {
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

.score {
    float: right;
}

@media screen and (min-width: 1180px) {
    //992px
    .highscorewidth {
        width: 90%;
        margin: 2% auto;
    }
}

.badge-font {
    font-size: 16pt;
}

.city-logo {
    width: 80px;
    height: 80px;
    margin: 10px auto;
}

#praemien-info {
    //background-color: lightgrey;
    border: 2px solid #DAA520;
}

ion-list-header ion-note {
    position: absolute;
    right: -5px;
    bottom: -5px;
}