page-home {}

.list-avatar-page {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
}

h1{font-size: 30px;}
h2{font-size: 20px;}


.score {
    float: right;
}

@media screen and (min-width: 768px) {
	.highscorewidth {
        width: 80%;
		margin: 2% auto;
    }
}

.wayne-color-darks{background-color:#0d7969;}
.wayne-color-lights{background-color:#31b3a0; float: right;}
.badge-font{font-size:16pt;}