page-home {}

@media screen and (min-width: 768px) {
	.detailwidth {
        width: 50%;
		margin: 5% auto;
    }
}

.badgeImage {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 60px;
  height: 60px;
}