page-home {}

.countdown {
    float: right;
}

.news ion-list {
    margin-top: 20px;
}

.news ion-list ion-item,
.news ion-list ion-item.item-block:first-child,
.news ion-list ion-item.item-block:last-child {
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #F5F5F5;
	opacity: 0.6;
	transition: all 1s;
}

.news ion-list ion-item:hover,
.news ion-list ion-item.item-block:first-child:hover,
.news ion-list ion-item.item-block:last-child:hover {
	opacity: 1;
	border: 1px solid #CECECE;
}

.news ion-list ion-item:hover {
    cursor: pointer;
}

.news ion-list ion-item.item-ios.item-block .item-inner {
    border-bottom: none;
}

@media screen and (min-width: 768px) {
	.eventcontent {
		margin: 0% auto;
		padding-left: 5%;
		padding-right: 5%;
    }
}