page-home {}

.countdown,
.battle,
.countdownnext {
    float: right;
}

.news ion-list {
    margin-top: 20px;
}

.news ion-list ion-item,
.news ion-list ion-item.item-block:first-child,
.news ion-list ion-item.item-block:last-child {
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #F5F5F5;
    transition: all 0.7s;
}

.news ion-list ion-item:hover,
.news ion-list ion-item.item-block:first-child:hover,
.news ion-list ion-item.item-block:last-child:hover {
    border-color: #31b3a0;
}

.news ion-list ion-item:hover {
    cursor: pointer;
}

.news ion-list ion-item.item-ios.item-block .item-inner {
    border-bottom: none;
}

@media screen and (min-width: 768px) {
    .eventcontent {
        margin: 0% auto;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.eventcontent h2 {
    text-align: center;
}

.badgeImage {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 60px;
    height: 60px;
}

.news {
	 border-left: 1px solid #31b3a0;	 
}