//page-add-event {}
.image {
    height: 200px;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    margin: 10px auto;
    background-image: url(../../img/sonja.jpg);
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .profilewidth {
        width: 75%;
        margin: 2% auto;
    }
}

.profilewidth h2 {
    text-align: center;
    margin-bottom: 40px;
}

.profilewidth h1 {
    text-align: center;
    margin-bottom: 40px;
}

.wayne-color-darke {
    background-color: #0d7969;
}

.wayne-color-light {
    background-color: #31b3a0;
}