// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@media screen and (min-width: 720px) {
    .scroll-content {
        padding: 2% !important;
    }
    .card-md {
        margin: 1.5% 5px;
    }
    .img-container {
        height: 160px;
        overflow: hidden;
    }
    .img-container img {
        height: auto;
        width: 100%;
        margin-top: -12%;
    }
}

.ion-grid.grid,
.ion-col.col {
    padding: 0;
}

.logo {
  padding-left: 20px;
  width: 200px;
  height: 100%;
  animation: bounceIn 5s;
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
  cursor: pointer;
}

.logo:hover {
  transform: rotate(-3deg) scale(1.01);
}

.ayn, .vents {
  animation: fadeout 5s;
}

.W {
  padding: 20px;
  transform-origin: 20px 105px;
  transform: rotate(0deg) scale(1) translateZ(0);
  animation: rotation 5s;
}

.E {
  transform-origin: 20px 105px;
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s step-end;
  animation: move 5s;
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  1% {
    transform: translate(-60px, 0px);
  }
    75% {
    transform: translate(-60px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(1) translateZ(0);
  }
  1% {
    transform: rotate(-105deg) scale(1) translateZ(0);
  }
  75% {
    transform: rotate(-105deg) scale(1) translateZ(0);
  }
  100% {
    transform: rotate(0deg) scale(1) translateZ(0);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0.1;
    transform: scale(.3);
  } 

  60% {
    opacity: 1;
    transform: scale(1);
  } 
  90% {
    opacity: 1;
    transform: scale(1);
  } 
  
  95% {
    opacity: 0.7;
    transform: scale(.94);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}